<!DOCTYPE html>
<html ng-app="ticTacToe">
<head>
  <title>Angular TicTacToe</title>
  <!-- Style files / Formatting -->
  <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<!-- Game Elements -->
<body ng-controller="BoardController as BoardCtrl">
  <!-- TicTacToe Board -->
  <div class="jumbotron vertical-center">
    <div class="container text-center">
      <table>
        <tr ng-repeat="row in BoardCtrl.arrayBoard">
          <td ng-repeat="cell in row" ng-click="BoardCtrl.makeMove(cell.idx)">
            {{cell.mark}}
          </td>
        </tr>
      </table>
      <br>
      <a ng-click="BoardCtrl.newGame()" class="btn-primary btn h2 lightBlue">START NEW GAME</a>
    </div>
  </div>
  <!-- AngularJS Files -->
  <script type="text/javascript" src="angular.min.js"></script>
  <script type="text/javascript" src="gamePlayScript.js"></script>
  <script type="text/javascript" src="aiPlayerScript.js"></script>
</body>
</html>