<!DOCTYPE html>
<html ng-app="ticTacToe">
<head>
  <title>Angular TicTacToe</title>
  <!-- Style files / Formatting -->
  <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<!-- Game Elements -->
<body ng-controller="GameCtrl as game">
  <!-- TicTacToe Board -->
  <div class="jumbotron vertical-center">
    <div class="container text-center">
    <div class="message-box">
      <div ng-show="showMessage" class="message fadein fadeout">
        {{game.gameOverMessage}}
      </div>
    </div>
      <table>
        <tr ng-repeat="row in game.board.asArray">
          <td ng-repeat="cell in row" ng-click="game.makeMove(cell.idx)">
            {{cell.mark}}
          </td>
        </tr>
      </table>
      <br>
      <a ng-click="game.newGame()" class="top-margin btn btn-large btn-block h2" ng-class="{'btn-primary' : game.board.inPlay === false}">START NEW GAME</a>
    </div>
  </div>
  <!-- AngularJS Files -->
  <script type="text/javascript" src="angular.min.js"></script>
  <script type="text/javascript" src="angular-animate.min.js"></script>
  <script type="text/javascript" src="gamePlayScript.js"></script>
  <script type="text/javascript" src="aiPlayerScript.js"></script>
</body>
</html>