/*Universal class attributes*/
html, body {
  height: 100%;
  background-color: WhiteSmoke;
}

table {
  border: 3px solid DimGray;
}

table td {
  min-width: 100px;
  height: 100px;
  font: 90px sans-serif;
  line-height: .9em;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  text-align: center;
  vertical-align: bottom;
  border: 3px solid DimGray ;
}

/*Class tags to center the board on the screen.\
**Source: stackoverflow.com/questions/22196587/how-to-center-align-vertically-the-container-in-bootstrap
**        author: Hashem Qolami
*/

.container{
  width:300px;
}

.vertical-center {
  height:100%;
  width:100%;

  text-align: center;  /* align the inline(-block) elements horizontally */
  font: 0/0 a;         /* remove the gap between inline(-block) elements */
}

.vertical-center:before {    /* create a full-height inline block pseudo=element */
  content: ' ';
  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */
  height: 100%;
}

.vertical-center > .container {
  min-width: 310px;
  background-color: GhostWhite;
  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */
  font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;        /* <-- reset the font property */
}

@media (max-width: 768px) {
  .vertical-center:before {
    /* height: auto; */
    display: none;
  }
}

.marginRow{
 margin-bottom:0px !important;
 }
