/*Universal class attributes*/
html, body {
  height: 100%;
  background-color: WhiteSmoke;
}

table {
  border: 3px solid DimGray;
  background-color: GhostWhite;
}

table td {
  min-width: 100px;
  height: 100px;
  font: 90px sans-serif;
  line-height: .9em;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  text-align: center;
  vertical-align: bottom;
  border: 3px solid DimGray ;
}

/*DESCRIPTION: Class tags to center the board on the screen.\
**SOURCE:      stackoverflow.com/questions/22196587/how-to-center-align-vertically-the-container-in-bootstrap
**PREVIEW:     http://jsbin.com/vuyub/5/edit?html,js,output
**AUTHOR:      Hashem Qolami (Modified by Bretton Auerbach)
*/

.container{
  width:310px;
  min-height: 450px;
}

.vertical-center {
  height:100%;
  width:100%;

  text-align: center;  /* align the inline(-block) elements horizontally */
  font: 0/0 a;         /* remove the gap between inline(-block) elements */
}

.vertical-center:before {    /* create a full-height inline block pseudo=element */
  content: ' ';
  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */
  height: 100%;
}

.vertical-center > .container {
  min-width: 310px;
  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */
  font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;        /* <-- reset the font property */
}

.marginRow{
  margin-bottom:0px !important;
}

.top-margin{
  margin-top: 30px;
}

/*DESCRIPTION: Class tags to fade in and fade out elements.\
**SOURCE:      http://stackoverflow.com/questions/19607595/how-can-i-fade-in-and-then-fade-out-text-inside-a-div
**PREVIEW:     http://plnkr.co/edit/jBukeP?p=preview
**AUTHOR:      tasseKATT
*/

.message-box{
  vertical-align: top;
  min-height: 60px;
  min-width: 310px;
}

.message {
  font: 50px sans-serif;
  font-weight: 900;
  color: #006dcc;
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add {
    -webkit-transition: 1000ms linear all;
    -moz-transition: 1000ms linear all;
    -o-transition: 1000ms linear all;
    transition: 1000ms linear all;
    display: block !important;
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
    opacity: 0;
}

.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
}
